# Copy this file to .env and set a strong secret value
INGEST_API_KEY=replace-with-a-strong-secret

# This secret is used to sign the visit data and should be kept private. It is used in conjunction with the current date to create a unique hash for each day.
# python3 -c "import secrets; print(secrets.token_hex(32))"
# Code above generates a strong secret for you to use.
BASE_SECRET=replace-with-a-strong-secret