services:
  timescaledb:
    image: timescale/timescaledb-ha:pg16
    container_name: timescaledb
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - timescale_data:/var/lib/postgresql/data
      - ./init-extensions.sql:/docker-entrypoint-initdb.d/init-extensions.sql
    ports:
      - "5433:5432"
    networks:
      - rag-net

  ollama:
    build: .                 # build from the Dockerfile in current directory
    container_name: ollama
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    networks:
      - rag-net

networks:
  rag-net:
    name: ollama-rag-net

volumes:
  timescale_data:
  ollama_data:
